@model  IEnumerable<PROYECTO.Models.TIPS>
@{
    Layout = "~/Views/Shared/LayoutF.cshtml";
}


<!--------start-blog----------->
<div class="blog">
    <div class="main">
        <div class="wrap">
            <div class="single-top">
                <div class="wrapper_single">
                    <div class="wrapper_top">
                        @foreach (var item in Model)
                        {
                            <div class="grid_1 alpha">
                                <div class="date" style="padding:1.3em 1em;">
                                    @Convert.ToString(string.Format("{0:dd MMM yy}", item.FECHA))
                                </div>
                            </div>
                            <div class="content span_2_of_single">
                                <h5 class="blog_title"><a href="@Url.Action("TipsContent", "Home", new { id = item.ID_T})">@Html.DisplayFor(modelItem => item.TITULO)</a></h5>
                                <div class="content">
                                    <div class="span-1-of-1">
                                        <a href="@Url.Action("TipsContent", "Home", new { id = item.ID_T})"><img class="m_img" src="@Html.DisplayFor(modelItem => item.IMAGEN)" alt="" /></a>
                                    </div>
                                    <div class="span-1-of-2">
                                        <p>@Html.DisplayFor(modelItem => item.DESCRIPCION)</p>
                                        <a href="@Url.Action("TipsContent", "Home", new { id = item.ID_T})" class="arrow_btn">Leer más</a>
                                    </div>
                                    <div class="clear"> </div>
                                </div>
                            </div>
                            <div class="clear"> </div>
                        }
                    </div>
                </div>
                <div class="rsidebar span_1_of_3">
                    <div class="social_2">
                        <h4>Suíguenos</h4>
                        <ul>
                            <li class="facebook"><a href="#"><span> </span></a></li>
                        </ul>
                    </div>
                </div>

                <div class="clear"> </div>
            </div>
            <!----//End-content---->
        </div>
    </div>
</div>
<!--------//end-blog----------->
